<h1><%= @title %></h1>
<p>Spread awareness about the various and most harmful cancers which can affect women. A platform for medical practitioners and social service organizations to engage in community awareness and education programs</p>