.container{
	width: 710px;
}

body {
  background: #009900;
}

header{
	padding-top: 20px;
}
header img{
	padding :1em;
	background: #fff; 
	height :25%;
	width: 25%;
}
nav{
	float:right;
	background:white;
	padding: 0 0.7em;
	white-space: nowrap;
}
 nav ul{
 	 margin: 0;
 	 padding: 0;
 }
  nav ul li
  {
  	list-style-type: none;
  	display: inline-block;
  	padding: 0.2em 0;

  }
  nav ul li a{
  	padding-right: 0.5px;
  	font-weight: bold;
  }
   nav ul li a :visited{
   	color: #09c;
   }
   nav ul li a:hover{
   	text-decoration:  underline;
   }




   section{
   	margin-top: 1em;
   	font-size: 120%;
   	padding : 20px;
   	background: #fff; 
   }
   .round {
   	-moz-border-radius: 10px;
   	-webkit-border-radius:10px;
   	border-radius: 10px;
   }

   footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}
footer nav {
  float: none;
}
a.signup_botton {
    margin-left:  auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 190px;
    color: #fff;
    background: #009900;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
  }
  div.field, div.actions{
  margin-bottom: 10px;
}
/* Error Messages */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}
.field_with_errors label{
  color: #fff;
}
#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
 #error_explanation h2{
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15x;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
 }

ul.users {
  margin-top:  1em;
}
 ul.users li{
  list-style: none;
  
 }

 /* Topics */
 

#box-table-a
{
  
  width: 350px;
  text-align: left;
  border-collapse: collapse;

  margin-right: auto;
  height: 300px;
  overflow : scroll;
  
  
}
#box-table-a th
{
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  background: #3366ff;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: black;
}
#box-table-a td
{
  padding: 8px;
  background: #e8edff; 
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
  vertical-align: top;
  
}
#box-table-a tr:hover td
{
  background: #d0dafd;
  color: #339;
}


table{
  border: solid, 5Px, black;
  border: 5;
}

.copyright{
  
  font-family:  Courier, Times New Roman;
  font-size: 10px;
  color: grey;
}

#id1{
  
  font-family:  Courier, Times New Roman;
  font-size: 25px;
  color: grey;
}
