<header>
	<%= image_tag("wecare_img.jpg",:alt => "SampleApp", :class => "round") %>
	<nav class= "header">
		<ul>
			<li>
				<%=link_to "Home", '#' %>
				<%=link_to "About", '#' %>
				<%=link_to "Help", '#' %>
			</li>
		</ul>
	</nav>
</header>
<p>